<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bigdreams.example.alexbig.smartape">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/monkey_607708_960_720"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".activities.CreateQuizActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".activities.QuizActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".activities.AddQuestionsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".activities.CreateQuestionActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".activities.SignInActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".activities.BroadcastActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".activities.BroadcastResultsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
    </application>

</manifest>